.header__lang-link {
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
  margin-left: 0.8rem;
  line-height: 1.1;
  font-weight: normal;
  font-size: 24px;

}

.header__lang-link:hover {
  text-decoration: underline;
  list-style-type: none;
  color: #ffffff;
  margin-left: 0.8rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__lang-link {
    font-size: 20px;
  }
}

@media screen and (max-width: 319x) {
  .header__lang-link {
    font-size: 18px;
  }
}