.place__title {
  grid-row: 1;
  grid-column: 1;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  margin: 0;
}

@media screen and (min-width: 800px) and (max-width: 1025px) {
  .place__title {
    width: 100%;
    font-size: 56px;
  }
}

@media screen and (min-width: 640px) and (max-width: 800px) {
  .place__title {
    width: 100%;
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 300px) and (max-width: 640px) {
  .place__title {
    width: 100%;
    font-size: 32px;
    line-height: 1.09;
    margin-left: 1rem;
  }
}