.place__title {
  /*width: 47%;
  margin: 0;
  padding-top: 6em;*/
  grid-row: 1;
  grid-column: 1;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__title {
    width: 100%;
    font-size: 5.3vw;
  }
}

@media screen and (min-width: 320px) and (max-width: 475px) {
  .place__title {
    width: 100%;
    font-size: 4.3vw;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    width: 100%;
    font-size: 32px;
  }
}