@import url("./__item/photo-grid__item.css");

.photo-grid {
  display: grid;
  width: calc(100vw - 7%);
  margin: 0 auto;
  padding-top: 92px;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}