.header__links {
  display: flex;
  align-self: flex-end;
  margin: 0;
  font-size: 24px;
  line-height: 117%;
}

@media screen and (max-width: 450px) {
  .header__links {
    font-size: 18px;
    line-height: 133%;
  }
}