.cover__text-container {
/*  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
/*  padding-top: 6em;*/
  position: absolute;
  top: 50%;
  right: 0;
  left: 50%;
  bottom: 0;
  z-index: 5;
  width: 560px;
  /*height: calc(100% - 6em);*/
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .cover__text-container {
    width: 90%;
    transform: translate(-50%, -70%);
  }
}