@import url("./__title/lead__title.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__image/lead__image.css");
@import Url("./__caption/lead__caption.css");

.lead {
  width: 77%;
  margin: 56px auto 0;
}

@media screen and (min-width: 880px) and (max-width: 1025px) {
  .lead {
    width: 93%;
  }
}

@media screen and (min-width: 767px) and (max-width: 880px) {
  .lead {
    width: 100%;
  }
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .lead {
    margin: 52px auto 0;
    width: 100%;
  }
}

@media screen and (min-width: 300px) and (max-width: 450px) {
  .lead {
    margin: 48px auto 0;
    width: 100%;
  }
}