@import url("./__logo/header__logo.css");
@import url("./__links/header__links.css");
@import url("./__links-item/header__links-item.css");
@import url("./__lang-link/header__lang-link.css");
@import url("./__lang-link/_selected/header__lang-link_selected.css");

.header {
  width: 91vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  padding-top: 28px;
}

@media screen and (min-width: 321px) and (max-width:767) {
  .header {
    width: 90%;
    margin: 0 auto;
    padding-top: 16px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 85%;
    margin: 0 auto;
    padding-top: 16px;
  }
}
