.place__paragraph {
  margin: 0 auto;
  font-size: 18px;
  line-height: 162.5%;
}

.place__paragraph:nth-of-type(2) {
  padding-top: 25px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}
