.lead__image {
  width: 100%;
  max-width: 984px;
  margin: 4rem auto 0;
  display: block;
}

@media screen and (min-width:984px) and (max-width: 1184px) {
  .lead__image {
    width: 100%;
    max-width: 928px;
    margin: 3.5rem auto 0;
  }
}

@media screen and (min-width:768px) and (max-width: 984px) {
  .lead__image {
    margin: 3.5rem auto 0;
  }
}

@media screen and (min-width: 451px) and (max-width: 767px) {
  .lead__image {
    margin: 2.5rem auto 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  .lead__image {
    margin: 40px auto 0;
  }
}
