.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-decoration-line: underline;
  margin: 0;
  padding-top: 0.75em;
  color: #ffffff;
}

.place__link:hover {
  cursor: pointer;
  color: #ffffff;
}