@import url("./__image/place__image.css");
@import url("./__title/place__title.css");
@import url("./__website/place__website.css");
@import url("./__url-heading/place__url-heading.css");
@import url("./__link/place__link.css");
@import url("./__description/place__description.css");
@import url("./__paragraph/place__paragraph.css");

.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 484px;
  row-gap: 3rem;
  column-gap: 2.5rem;
  margin: 0;
  padding-top: 80.5px;
}

.place:nth-of-type(1) {
  padding-top: 0;
}

@media screen and (min-width: 981px) and (max-width: 1184px) {
  .place {
    grid-template-columns: 440px minmax(456px, 1fr);
    row-gap: 3rem;
    column-gap: 2rem;
    max-width: 928px;
  }
}

@media screen and (min-width: 910px) and (max-width: 980px) {
  .place {
    grid-template-columns: 400px minmax(416px, 1fr);
    row-gap: 3rem;
    column-gap: 2rem;
    max-width: 848px;
  }
}

@media screen and (min-width: 768px) and (max-width: 929px) {
  .place {
    max-width: 720px;
    row-gap: 3rem;
    column-gap: 1.75rem;
    margin: 0 auto;
    padding-top: 72px;
    grid-template-columns: 340px minmax(352px, 1fr);
  }
}

@media screen and (min-width: 641px) and (max-width: 767px) {
  .place {
    max-width: 650px;
    grid-template-columns: 288px minmax(300px, 1fr);
  }
}


@media screen and (min-width: 320px) and (max-width: 640px) {
  .place {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    gap: 0;
  }
}
