.place__description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  grid-column: 2;
  grid-row: 2 / 4;
}

@media screen and (max-width: 640px) {
  .place__description {
    width: calc(100% - 2rem);
    padding-top: 2em;
    margin-left: 1rem;
  }
}